<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cardRec.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,352},{386,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,66}}</string>
                <key>sourceSize</key>
                <string>{386,66}</string>
            </dict>
            <key>bg_changeRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,376},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bg_changeRoom_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,125},{1,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,6}}</string>
                <key>sourceSize</key>
                <string>{1,6}</string>
            </dict>
            <key>bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,58},{65,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,50}}</string>
                <key>sourceSize</key>
                <string>{65,50}</string>
            </dict>
            <key>bg_hall_friendList.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,740},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>bg_hall_friendList_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,128},{3,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>bg_hall_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,301},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>bg_hall_inputArea.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,408},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>bg_hall_room.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,283},{22,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,114}}</string>
                <key>sourceSize</key>
                <string>{22,116}</string>
            </dict>
            <key>bg_hall_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{417,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,76}}</string>
                <key>sourceSize</key>
                <string>{425,76}</string>
            </dict>
            <key>bg_idImg.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>bg_item_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,239},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>bg_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,77},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{160,160}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>bg_panel_tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{162,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,73}}</string>
                <key>sourceSize</key>
                <string>{162,73}</string>
            </dict>
            <key>bg_subUI.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{772,388}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{772,388}}</string>
                <key>sourceSize</key>
                <string>{800,416}</string>
            </dict>
            <key>bg_tab_blur_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,713},{75,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,66}</string>
            </dict>
            <key>bg_tab_blur_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,239},{115,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,42}}</string>
                <key>sourceSize</key>
                <string>{115,44}</string>
            </dict>
            <key>bg_tab_focus_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,713},{75,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,82}</string>
            </dict>
            <key>bg_tab_focus_changeRoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,248},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>bg_tab_focus_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,125},{121,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,44}}</string>
                <key>sourceSize</key>
                <string>{121,44}</string>
            </dict>
            <key>bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,366}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{800,366}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>bg_table_topLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,275},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bg_table_vnf_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,318},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bg_table_vnf_line_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,133},{273,2}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{273,2}}</string>
                <key>sourceSize</key>
                <string>{387,2}</string>
            </dict>
            <key>bg_table_vnf_line_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,58},{285,2}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{285,2}}</string>
                <key>sourceSize</key>
                <string>{387,2}</string>
            </dict>
            <key>bg_table_vnf_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,294},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>bg_uiTop_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{800,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,72}}</string>
                <key>sourceSize</key>
                <string>{800,76}</string>
            </dict>
            <key>bg_uiTop_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,307},{404,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{404,78}}</string>
                <key>sourceSize</key>
                <string>{406,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bgs.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ceecc93560389eef0716525693dd484:1/1$</string>
            <key>textureFileName</key>
            <string>bgs.png</string>
        </dict>
    </dict>
</plist>
