<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb/animate_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,226},{84,250}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,2},{84,250}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>bomb/animate_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,831},{80,182}}</string>
                <key>offset</key>
                <string>{-2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,70},{80,182}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>bomb/animate_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,264},{92,106}}</string>
                <key>offset</key>
                <string>{4,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,146},{92,106}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>bomb/animate_bomb_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,831},{176,124}}</string>
                <key>offset</key>
                <string>{4,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,128},{176,124}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>bomb/animate_bomb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{196,88}}</string>
                <key>offset</key>
                <string>{2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,158},{196,88}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>bomb/animate_bomb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{184,102}}</string>
                <key>offset</key>
                <string>{5,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,143},{184,102}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>bomb/animate_bomb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,650},{140,108}}</string>
                <key>offset</key>
                <string>{-8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,139},{140,108}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>bomb/animate_bomb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,650},{168,142}}</string>
                <key>offset</key>
                <string>{-15,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,110},{168,142}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>bomb/animate_bomb_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,795},{138,118}}</string>
                <key>offset</key>
                <string>{-8,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,134},{138,118}}</string>
                <key>sourceSize</key>
                <string>{202,252}</string>
            </dict>
            <key>double/animate_double_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,663},{130,64}}</string>
                <key>offset</key>
                <string>{79,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,22},{130,64}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,609},{136,52}}</string>
                <key>offset</key>
                <string>{87,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,34},{136,52}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,795},{140,58}}</string>
                <key>offset</key>
                <string>{89,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,28},{140,58}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,650},{152,64}}</string>
                <key>offset</key>
                <string>{78,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,22},{152,64}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,92},{170,70}}</string>
                <key>offset</key>
                <string>{86,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,16},{170,70}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,650},{168,66}}</string>
                <key>offset</key>
                <string>{102,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,20},{168,66}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,92},{232,58}}</string>
                <key>offset</key>
                <string>{74,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,28},{232,58}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,160},{272,64}}</string>
                <key>offset</key>
                <string>{57,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,22},{272,64}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{338,60}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,27},{338,60}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,86},{372,72}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,15},{372,72}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{390,82}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{390,82}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>double/animate_double_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{412,88}}</string>
                <key>sourceSize</key>
                <string>{432,90}</string>
            </dict>
            <key>order/animate_order_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,154},{46,26}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,94},{46,26}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,729},{120,64}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,66},{120,64}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,160},{146,98}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,59},{146,98}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,308},{160,120}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,50},{160,120}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,829},{170,154}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{170,154}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,653},{174,140}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{174,140}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{182,150}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{182,150}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,449},{200,158}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{200,158}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,653},{176,168}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{176,168}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{182,178}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{182,178}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,475},{176,188}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{176,188}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,470},{182,178}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{182,178}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,426},{188,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{188,188}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>order/animate_order_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,829},{174,128}}</string>
                <key>offset</key>
                <string>{-6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{174,128}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>plane/animate_plane_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,953},{122,68}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{122,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>plane/animate_plane_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{188,68}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,68}}</string>
                <key>sourceSize</key>
                <string>{200,68}</string>
            </dict>
            <key>plane/plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,299},{206,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{206,148}}</string>
                <key>sourceSize</key>
                <string>{210,150}</string>
            </dict>
            <key>rocket/animate_rocket_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,358},{115,167}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{115,167}}</string>
                <key>sourceSize</key>
                <string>{161,229}</string>
            </dict>
            <key>rocket/animate_rocket_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,152},{145,207}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{145,207}}</string>
                <key>sourceSize</key>
                <string>{161,229}</string>
            </dict>
            <key>rocket/animate_rocket_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,804},{109,147}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{109,147}}</string>
                <key>sourceSize</key>
                <string>{161,229}</string>
            </dict>
            <key>rocket/rocket .png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{119,240}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{119,240}}</string>
                <key>sourceSize</key>
                <string>{161,248}</string>
            </dict>
            <key>vnf/table_vnf_title_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,312},{249,112}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{249,112}}</string>
                <key>sourceSize</key>
                <string>{307,126}</string>
            </dict>
            <key>vnf/table_vnf_title_f_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{209,88}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,21},{209,88}}</string>
                <key>sourceSize</key>
                <string>{307,126}</string>
            </dict>
            <key>vnf/table_vnf_title_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{301,110}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{301,110}}</string>
                <key>sourceSize</key>
                <string>{307,126}</string>
            </dict>
            <key>vnf/table_vnf_title_v_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,820},{156,76}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,35},{156,76}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fvx.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ca47d1f066fb7f8181e2b742797cc03:1/1$</string>
            <key>textureFileName</key>
            <string>fvx.png</string>
        </dict>
    </dict>
</plist>
